
.profile-page-container {
    width: 80%;
    max-width: 500px;
    margin: 50px auto;
    padding: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    background: #1d1d1d ;
    text-align: center;
    font-size: 20px;
}

.profile-info {
    padding: 10px;
}

.profile-icon {
    font-size: 24px;
    color: #ff6600;
}
